#{extends 'main.html' /}
#{set title:'Tenants Page' /}


<nav class="ui olive inverted menu">
  <a class="ui item" href="/">Home</a>
  <a class="ui active item" href="/tenants/tenant">Tenant</a> 
  <a class="ui item" href="/contact">Contact</a>
  <a class="ui item" href="/tenants/logout">Log out</a>
</nav>

<section class="ui segment">
  <div class="ui three column grid">
    <div class="column">
      
            
            <form class="ui form" action="/tenants/endtenancy" method="POST">
             <h5> Rental Status</h5> 
             #{if tenant.residence != null}
                <input id="current_eircode" readonly value="${tenant.residence.eircode}" name="currenteircode" type="text">
            #{/if}
            #{else}
            	<input id="current_eircode" readonly placeholder="Seeking Residence" name="currenteircode" type="text">
            #{/else}
      

      <div class="ui segment">
        <h5>Press to end tenancy</h5>
        
          <div class="ui fluid form segment">
          
            <button type="submit" class="ui blue fluid submit button"> Terminate tenancy</button>
          
          </div>
          </div>
        </form>


      <section class="ui segment">
        <h5>Select from vacant residences for new rental</h5>
        <form class ="ui form changeTenancy">
          <div class="ui fluid form segment">  
              <div class="ui fluid selection dropdown"
                id="eircode_res">
                <input name="eircode_unoccupied" type="hidden">
                <div class="default text">Vacant residences</div>
                <i class="dropdown icon"></i>
                <div class="menu tenant">
                #{list items: unoccupied, as:'residence'}
                 <div class="item eircode" data-value="${residence.eircode}">${residence.eircode}</div>
                #{/list}
                </div>
              </div> 
          </div>
          <button type="submit" class="ui blue fluid submit button">Change Tenancy</button>
          <div class="ui error message"></div>
        </form>
      </section>
    </div>
    <div class="column">
       <form action="/report/generateReport" method="POST">
        <section class="ui segment">
          <div id="map_canvas" style="height: 400px;"></div>
          <button type="submit" class="ui fluid blue submit button"
            onclick="requestReport()">Search for vacant
            residences</button>
        </section>
        <div style="visibility: hidden" id="circledata">
          <input type="text" id="radius" name="radius"> 
          <input type="text" id="latcenter" name="latcenter"> 
          <input type="text" id="lngcenter" name="lngcenter">
        </div>
      </form>
    </div>
    
    
  </div>
</section>

<script src="/public/javascripts/rent.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="/public/javascripts/reportMapCircle.js" charset="utf-8"></script>