#{extends 'main.html' /}
#{set title:'Login Page (Admin)' /}

<nav class="ui olive inverted menu">
  <a class="ui item" href="/">Home</a>
  <a class="ui item" href="/administrators/signup">Sign Up</a>
  <a class="ui active item" href="/administrators/login">Log in</a>
  <a class="ui item" href="/contact">Contact</a>  
</nav>

 <section class="ui segment">
  <h3>Log into your administrator account</h3>
  <form class="ui fluid form segment" action="/administrators/authenticate" method="POST">
    <div class="ui two column grid">
    <div class="column">
        <h3 class="ui header">Log-in</h3>
        <div class="field">
          <label>Email</label>
          <input placeholder="Email" name="email" type="text">
        </div>
        <div class="field">
          <label>Password</label>
          <input placeholder="Password" type="password" name="password">
        </div>
        <button type="submit" class="ui blue submit button">Login</button>
        <div class="ui error message"></div>
    </div>
    </div>
  </form>
</section>
<script src="/public/javascripts/login.js"></script>